﻿<div class="sign-up-wizard-step-4">
  <div class="row text-center">
      <div class="col col-xs-12">
          <div class="start-block" style="height: 100px !important;">
              <div class="row">
                  <div class="col-xs-12 second-col" style="font-weight: bold;">
                      Trial subscription has been successfully created.
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row text-center">
      <div class="col col-xs-12">
          <div class="buttons-block">
              <a class="btn btn-continue" href="@Url.Action("Index", "AdminDashboard")" style="width: 170px !important;">
                  Back to Dashboard
              </a>
          </div>
      </div>
  </div>
</div>
