﻿@model MomentumPlus.Relay.Authorization.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/AuthLayout.cshtml";
    ViewBag.Title = "RelayWorks™ | Login";
}

<div class="sign-in-multi-tenant-page">

    <div class="relay-logo-block">
        <a class="logo" href="\"></a>
    </div>

    <div class="row text-center title-block">
        <div class="col col-xs-12">
            Login
        </div>
    </div>

    <div class="row text-center">
        <div class="col col-xs-12">
            <div class="form-block">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.RememberMe)

                    <div class="form-group margin-bottom-30">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @type = "email", placeholder = "Username" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div class="blue-line"></div>

                    <div class="form-group margin-top-30">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "password-validation" })
                    </div>

                    <div class="form-group">
                        @Html.ValidationMessage("Message", null, new { @class = "login-error" })
                    </div>

                    <button type="submit" class="btn btn-send">Login</button>
                }
            </div>
            <span class="change-indicator"></span>
        </div>
    </div>

    @if (TempData.ContainsKey("Alert") || TempData.ContainsKey("Alerts"))
    {
        <div class="alerts-block">
            @Html.Partial("_Alert")
        </div>
    }

    <div class="row text-center">
        <div class="col col-xs-12">
            <div class="buttons-block">
                <div class="btn btn-remember-me remember-me">
                    <span>remember me</span>
                </div>
                <a class="btn btn-forgot-password" href="@Url.Action("ForgottenPassword")">
                    forgot password
                </a>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col col-xs-12">
            <div class="sign-in-block">
                <div class="text">
                    <span>Don't have an account?</span>
                </div>
                <a class="btn btn-sign-up margin-left-15" href="@Url.Action("Index", "Registration")">
                    Sign Up
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $('#UserName, #Password').keyup(function ()
        {
            if ($('#UserName, #Password').valid() == true)
            {
                $('.change-indicator').addClass('valid');
            }
            else
            {
                $('.change-indicator').removeClass('valid');
            }
        });

        $('.remember-me').click(function () {
            localStorage.usrname = $('#UserName').val();
            sessionStorage.setItem('UserName', localStorage.usrname);
        });
        
    });

</script>