﻿@model MomentumPlus.Relay.Authorization.Models.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="reset-password-page">

    <div class="relay-logo-block">
        <a class="logo" href="\"></a>
    </div>

    <div class="row text-center title-block">
        <div class="col col-xs-12">
            Reset Password
        </div>
    </div>

    <div class="row text-center">
        <div class="col col-xs-12">
            <div class="form-block">
                @using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.PasswordResetGuid)

                    <div class="form-group margin-bottom-30">
                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @type = "password", @placeholder = @Html.DisplayNameFor(m => m.NewPassword) })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <div class="blue-line"></div>

                    <div class="form-group margin-top-30">
                        @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.ConfirmNewPassword) })
                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword, null, new { @class = "password-validation" })
                    </div>

                    <button type="submit" class="btn btn-send">Submit</button>
                }
            </div>
            <span class="change-indicator"></span>
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $('#NewPassword, #ConfirmNewPassword').keyup(function ()
        {
            if ($('#NewPassword, #ConfirmNewPassword').valid() == true)
            {
                $('.change-indicator').addClass('valid');
            }
            else
            {
                $('.change-indicator').removeClass('valid');
            }
        });

    });
</script>