﻿<div class="sign-up-wizard-step-4">
    <div class="row text-center">
        <div class="col col-xs-12">
            <div class="start-block">
                <div class="row">
                    <div class="col-xs-12 first-col">
                        Thank you for purchasing RelayWorks.
                    </div>
                    <div class="col-xs-12 second-col">
                        Please check your inbox to verify your account.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col col-xs-12">
            <div class="buttons-block">
                <a class="btn btn-continue" href="@Url.Action("Login", "Account")">
                    Login
                </a>
            </div>
        </div>
    </div>
</div>
