﻿
@{
    Layout = "~/Views/Shared/AuthLayout.cshtml";
    ViewBag.Title = "RelayWorks™ | Registration";
}


<div class="sign-up-multi-tenant-page" ng-app="RelayMultiTenantApp">

    <div ui-view>
        <div class="relay-logo-block">
            <div class="row">
                <div class="col-xs-4">
                    <a class="logo" href="\"></a>
                </div>
                <div class="col-xs-8 text-right header-buttons">
                    @*<div class="btn btn-monthly" ng-click="ctrl.changeBillingPeriod(0)" ng-class="ctrl.SignUpModel.Form.BillingPeriod == 0 ? 'active' : ''">
                        Billed Monthly
                    </div>
                    <div class="btn btn-annually" ng-click="ctrl.changeBillingPeriod(1)" ng-class="ctrl.SignUpModel.Form.BillingPeriod == 1 ? 'active' : ''">
                        Billed Yearly
                    </div>*@
                    @*<button class="btn btn-currency"></button>
                    @Html.Partial("~/Views/Registration/_Currency_Dropdown.cshtml")*@
                    @*<div class="btn btn-basket"></div>
                    @Html.Partial("~/Views/Registration/_Basket_Dropdown.cshtml")*@
                </div>
            </div>
        </div>

        <div class="sign-up-wizard">
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <ul class="nav nav-wizard">
                            <li ui-sref-active="active">
                                <a ui-sref="app.step1" ng-class="ctrl.CurrentStepNumber > 2 ? 'inactive' : ''" ng-click="ctrl.changeStep(0)">Number of Users</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="app.step2" ng-class="ctrl.CurrentStepNumber < 2 || ctrl.CurrentStepNumber > 2 ? 'inactive' : ''" ng-click="ctrl.changeStep(1)">Select Subscription</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="app.step3" ng-class="ctrl.CurrentStepNumber < 2 || ctrl.CurrentStepNumber > 2 ? 'inactive' : ''" ng-click="ctrl.changeStep(2)">Register & Payment</a>
                            </li>
                            <li ng-class="ctrl.CurrentStepNumber == 3 ? 'active' : 'inactive'">
                                <a>Start RelayWorks</a>
                            </li>
                        </ul>
                        <div class="wizard-content" ui-view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/Content/lib/angular/angular.js"></script>
    <script src="~/Content/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/Content/lib/angularjs-slider/dist/rzslider.min.js"></script>

    <script src="~/Content/js/relay/multitenant/Registration/multitenant.app.js"></script>
    <script src="~/Content/js/relay/multitenant/Registration/multitenant.app.config.js"></script>
    <script src="~/Content/js/relay/multitenant/Registration/sign-up.controller.js"></script>
    <script src="~/Content/js/relay/multitenant/Registration/sign-up.service.js"></script>
    <script src="~/Content/js/relay/multitenant/Registration/httpInterceptor.service.js"></script>

    <script src="~/Content/lib/angular-validation-match/dist/angular-validation-match.js"></script>
    <script src="~/Content/lib/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="~/Content/lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/Content/lib/angular-credit-cards/release/angular-credit-cards.js"></script>

    <script>
        $(document).ready(function ()
        {
            $('.btn-currency').webuiPopover({
                hideEmpty: true,
                url: '#currencyDropdown',
                placement: 'bottom-left',
                style: 'registrationCurrencyDropdown',
                type: 'html',
                width: '85',
                trigger: 'click',
                multi: false,
                dismissible: true,
                animation: 'pop'
            });

            $('.btn-basket').webuiPopover({
                hideEmpty: true,
                url: '#basketDropdown',
                placement: 'bottom-left',
                style: 'registrationBasketDropdown',
                type: 'html',
                width: '170',
                trigger: 'click',
                multi: false,
                dismissible: true,
                animation: 'pop'
            });

            $('.card-number').mask('0000 0000 0000 0000');
            $('.cvc').mask('000');
            $('.issueNumber').mask('0000');
            $('.date').mask('00/00');
        });
    </script>
}


